<form method="post" action="@Url.Action("RegistroGuardar", "Account")"  autocomplete="off">
    <input type="text" name="nombre" placeholder="Nombre"/>
    <input type="text" name="apellido" placeholder="Apellido"/>
    <input type="text" name="username" placeholder="Nombre de usuario"/>
    <input type="password" name="password" placeholder="Crea una contraseña" />
    <button type="submit">Registrarse</button>
</form>