-- Crear base de datos si no existe
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'TP06')
BEGIN
    CREATE DATABASE TP06;
END;
GO

USE TP06;
GO

IF OBJECT_ID('dbo.Tareas', 'U') IS NOT NULL DROP TABLE dbo.Tareas;
IF OBJECT_ID('dbo.Usuarios', 'U') IS NOT NULL DROP TABLE dbo.Usuarios;
GO

CREATE TABLE Usuarios (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    nombre NVARCHAR(50) NOT NULL,
    apellido NVARCHAR(50) NOT NULL,
    foto NVARCHAR(500) NOT NULL,-- mas largo por URL larga
    username NVARCHAR(50) NOT NULL,
    ultLogin DATE NOT NULL,
    password NVARCHAR(50) NOT NULL
);
GO
GO

CREATE TABLE Tareas (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    titulo NVARCHAR(50) NOT NULL,
    descripcion NVARCHAR(50) NOT NULL,
    fecha DATE NOT NULL,
    finalizado BIT NOT NULL,
    IdU INT NOT NULL,
    FOREIGN KEY (IdU) REFERENCES Usuarios(Id)
);
GO

-- Insertar usuarios sin especificar el Id
INSERT INTO Usuarios (nombre, apellido, foto, username, ultLogin, password) VALUES
('Facundo', 'Lukacher', '/img/default.jpg', 'faculuk', GETDATE(), 'luki123'),
('Dante', 'Martinez', '/img/default.jpg', 'dantemy', GETDATE(), 'dantemix99'),
('Ciro', 'Perazzo', '/img/default.jpg', 'patrollerg', GETDATE(), 'patro234');
GO
