@{
    ViewData["Title"] = "Inicio";
}
<section class="index-container">
    <div>
        <a href="/Account/Registro"><button>Registrarse</button></a>
        <a href="/Account/Login"><button>Iniciar sesión</button></a>
    </div>
</section>
